body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff
}
.main {
  padding: 0 80px;
  position: relative
}

.main_section {
  padding: 0 32px;
  padding-top: 64px;
}

.profile_section {
  padding: 0 32px;
}

.profile_section .profile_section_inner {
  margin: 0 auto;
}

.profile_section .profile_section_inner .profile_picture {
  width: 88px;
  height: 88px;
  border-radius: 40px;
}

.profile_section .profile_section_inner h3 {
  margin-top: 24px;
  color: #101828;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.links {
  padding: 0 32px;
}

.links a {
  margin-bottom: 24px;
  text-decoration: none;
  color: #101828;
}

.links .link_item {
  background-color: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  margin-bottom: 24px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.link_item h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.small_link {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.small_link img {
  height: 24px;
  width: 24px;
  margin: 24px;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 0 32px;
}

footer .footer-inner {
  padding: 0;
  border-top: 1px solid #EAECF0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .main {
    padding: 0 16px;
  }

  .main_section,
  .profile_section,
  .links,
  .links .link_item,
  footer {
    padding: 0
  }

  footer .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}